.sass {
  background-color: rgb(212, 255, 0);

  width: 50vw;
  transform: translateX(300%);
  right: 0%;
  height: 50vh;

  position: absolute;
}
.sass:hover {
  display: none;
}
.active {
  transform: translateX(0);
}
