.createPostContainer {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.postCreate {
  box-shadow: 0 0 0 2px rgba(102, 88, 246, 0.2);
  background-color: white;
  margin: 2rem;

  border-radius: 1rem;
  overflow: hidden;
}
.headPostCreate {
  background-color: rgb(185, 200, 222);
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.formPost {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.formPost button {
  width: 6vw;
  align-self: center;
}
.inputPost,
#video {
  width: calc(100% - 24px);
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.inputPost:focus,
#video:focus {
  border-color: #6658f6;
  box-shadow: 0 0 0 2px rgba(102, 88, 246, 0.2);
  outline: none;
}
.btn-post {
  width: 100%;
  margin: 2rem;
  padding: 12px 20px;
  background-color: #6658f6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-post:hover {
  background-color: #5848c2;
}

.btn-post:active {
  background-color: #4a3ea4;
}

.inputPost {
  width: 30vw;
  height: 20vh;

  overflow: auto;
  width: 80%;

  margin: 8px 0;

  border: 1px solid #ccc;
  border-radius: 1rem;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  resize: vertical;
}
.inputPost:focus {
  border-color: #6658f6;
  box-shadow: 0 0 5px rgba(102, 88, 246, 0.5);
  outline: none;
}

.containerCardsPosts {
  display: flex;
  flex-direction: column;

  gap: 2rem;
}
.iconClose {
  margin-left: 1rem;
  color: white;
  cursor: pointer;
}
.iconEdit {
  margin-right: 1rem;
  color: white;
  cursor: pointer;
}
.profilePost {
  display: flex;
  justify-content: space-between;
}
.profile {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}
.prfilePic {
  width: 5vw;
  border-radius: 50%;
  margin-left: 1rem;
}
.profile p {
  margin: 0;
  font-weight: bold;
}
.profile span {
  color: #888;
  font-size: small;
}
