.navBar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-right: 2rem;
}
.navBar ul li a {
  text-decoration: none;
  color: black;
}
.navBar {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
.iconHome {
  width: 5vw;
}
