.navBar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.navBar ul li a {
  text-decoration: none;
  color: black;
}
.navBar {
  display: flex;
  padding: 1rem;
  z-index: 10;
  justify-content: space-between;
}
.navBar .innerContainerIcons{
  display: flex;
  gap: 1rem;
}
.navBar .iconAppNav {
  width: 10vw;
  height: 14vh;

cursor: pointer;
  align-self: center;
}
.iconHome {
  width: 3.5vw;
cursor: pointer;
}
.navBarMiddleIcons {
  display: flex;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  
  padding: 0.8rem;
display: flex;
width: 15vw;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background-color: #f0f0f0; 
  outline: none;
  transition: border-color 0.2s; /
}

.search-input:focus {
  border-color: #a0a0a0; 
}

.search-icon {
  position: absolute;

  fill: #a0a0a0; 
}
.nameUser{
  cursor: pointer;
  display: flex;
 
}
.iconsContainer{
  display: flex;
  margin-right: 5rem;
  height: 100%;
  align-items: center;
  gap:  1.5rem;
}
.iconRignNavBar{
 font-size: 2rem;
 color:  #05f;
 cursor: pointer;
}
.iconSetting{
  font-size: 2rem;
  color:  #05f;
  cursor: pointer;
  animation: rotateRoute 6s linear infinite reverse;


}
.dataUsers a{
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  border-radius: 0.5rem;
}

.selectProfile img{
  width: 2rem;
  
  height: 2rem;
  

  border-radius: 50%;
}
@keyframes rotateRoute {
  from {
    transform:  rotate(0deg);
  }
  to {
    transform:  rotate(360deg);
  }
}
.formSearchUsers{
  display: flex;
  
  justify-content: center;
  align-items: center;
}

.data{
 
display: none;

 
}
.dataUsers{
  border-radius: 1rem;
  background-color: #f0f0f0;   display: flex;
  padding: 1rem;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
 
  position: absolute;
 
  overflow-y: scroll;
  top: 88%;
  

}
.dataUsers a{
  text-decoration: none;
  color: black;
  width: 100%;
  margin: 0;
  text-align: center;
  
}
.dataUsers a:hover{
  background-color: white;
}
.hamburger-react{
  display: none;
} 



@media (max-width: 768px) {
  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  .iconAppNav {
    width: 15vw;
    height: auto;
  }
 

  .navBarMiddleIcons {
    display: none; 

  }
.iconsContainer{
  display: none;
}
 

  .hamburger-react {
    display: block; 
    margin-right: 2rem;
  }
  .nameUser{
    display: none;
  }
.navBar.toggled .navBarMiddleIcons{
  display: flex;

  background-color: #f0f0f0;
  position: absolute;
  top: 6.7rem;
  right: 3rem;
  z-index: 10;

}

  .navBarMiddleIcons ul{
    display: flex;
    width: 100%;
    
    flex-direction: column;
    width: 3rem;
    height: 15rem;
  
  
  }
  .navBar .navBarMiddleIcons ul li a{
    display: flex;
    width: 7rem;
    align-items: center;
    justify-content: center;
   

  }
  
  .iconHome {
    width: 2.5rem;
   
    margin-right: 1rem;

   
  }
  .formSearchUsers input{
    width: 8rem;
    padding: 1rem;
  }
 .navBar .iconAppNav{
  width: 8rem;
  height: 7rem;
    
  }

}
