.navBar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.navBar ul li a {
  text-decoration: none;
  color: black;
}
.navBar {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
.iconHome {
  width: 3.5vw;
}
.navBarMiddleIcons {
  display: flex;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  
  padding: 0.8rem;
display: flex;
width: 15vw;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background-color: #f0f0f0; 
  outline: none;
  transition: border-color 0.2s; /
}

.search-input:focus {
  border-color: #a0a0a0; 
}

.search-icon {
  position: absolute;

  fill: #a0a0a0; 
}
