.newDeedIcons {
  background-color: white;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
  border-radius: 1.5rem;
  padding: 0.8rem;
}
.listFeedIcons {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.listFeedIcons li {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  align-items: center;
}
.listFeedIcons li span:hover {
  color: #021b79;
}
.Newsfeed {
  background: linear-gradient(to right, #0575e6, #021b79);
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 50%;
  color: white;
}
.textStyle {
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
  color: #888;
  transition: all 0.2s ease;
  margin-right: auto;
  padding-right: 10px;
}
.budgesicon {
  background: linear-gradient(to right, #e44d26, #f16529);
  font-size: 2rem;
  padding: 0.5rem;
  color: white;
  border-radius: 50%;
}
.exploreIcon {
  background: linear-gradient(to right, #f2994a, #f2c94c);
  font-size: 2rem;
  padding: 0.5rem;
  color: white;
  border-radius: 50%;
}
.groupes {
  background: linear-gradient(to right, #ee0979, #ff6a00);
  font-size: 2rem;
  padding: 0.5rem;
  color: white;
  border-radius: 50%;
}
.authorProfile {
  font-size: 2rem;
  padding: 0.5rem;
  color: white;
  border-radius: 50%;
  background: linear-gradient(135deg, #05f, #09f);
}
.containerSideBar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.txtSpan {
  color: #adb5bd;
}
.iconMoer {
  font-size: 2rem;
  color: #05f;
  cursor: pointer;
}
.newDeedIcons ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.newDeedIcons ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
  color: #888;
  transition: all 0.2s ease;
  margin-right: auto;
  padding-right: 10px;
  cursor: pointer;
}
.newDeedIcons ul li:hover {
  color: #021b79;
}
.AccountIcons ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.AccountIcons ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
  color: #888;
  transition: all 0.2s ease;
  margin-right: auto;
  padding-right: 10px;
  cursor: pointer;
}
.AccountIcons ul li:hover {
  color: #021b79;
}
.acoountIcon {
  font-size: 2rem;
}
.containerPublic {
  display: flex;

  gap: 0.5rem;
  align-items: center;
  margin-right: 2rem;
}
.containerPublic select {
  border: none;
  color: #888;
  cursor: pointer;
}
.containerPublic option {
  border: none;
}
