.containerRegister {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-self: center;
  gap: 2rem;
}
.formRegister input {
  width: 20vw;
  height: 5vh;
  border: solid #6658f6 1px;
  border-radius: 1.5rem;
  padding: 0.5rem;
}
.file-upload-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.file-upload-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-upload-button i {
  margin-left: 8px;
}

.file-upload-button:hover {
  background-color: #0056b3;
}

/* Adjust the size of the icon as needed */
.fas {
  font-size: 20px;
}

.btn-register {
  /* width: 100%; */
  margin: 2rem;
  padding: 12px 20px;
  background-color: #6658f6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-register:hover {
  background-color: #5848c2;
}

.btn-register:active {
  background-color: #4a3ea4;
}
.svgClass {
  width: 50vw;
  height: 60vh;
  display: flex;
}
@media only screen and (max-width: 800px) {
  #registerPage {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
  }
  #registerPage form {
    display: flex;
    align-items: center;
  }
  #registerPage form input {
    width: 14rem;
  }
  .btnRegisterContainer {
    display: flex;
    align-items: center;
  }
  .btnRegisterContainer button {
    width: 7rem;
  }
  .svgClass {
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 0;
  }
}
