body {
  margin: 0;
  background-color: #fbfcfe;
  font-family: Montserrat, sans-serif;
}
.containerApp {
  min-height: 100vh;
  max-height: 100%;
  display: grid;

  grid-template-columns: 20% 80%;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "navBar navBar"
    "sideBar main";
}

.navBar {
  grid-area: navBar;
  height: 10vh;
  position: fixed;
  width: 100%;

  top: 0;
  background-color: white;
  z-index: 1;

  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
}

.sideBar {
  grid-area: sideBar;
  position: sticky;
  top: 15vh;

  height: 90vh;

  margin-left: 1rem;

  overflow-y: auto;
}

.main {
  grid-area: main;

  display: flex;
  justify-content: center;

  max-height: 100%;
  margin-top: 10vh;
  overflow: hidden;
  padding: 2rem;
}
.containerAcount {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.containerAcount img {
  width: 15vw;
}
